@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
	--font-head: 'Archivo Black', sans-serif;
	--font-sans: 'Share Tech', sans-serif;

	--shadow-neo-sm: 1px 1px 0 0 rgb(0 0 0);
	--shadow-neo-md: 3px 3px 0 0 rgb(0 0 0);
	--shadow-neo-xl: 10px 10px 0 0 rgb(0 0 0);
}

body {
	@apply font-sans;
}

* {
	@apply border-black;
}
